*.bak
*.bak.*
*.ckpt
*.old
*.pyc
.DS_Store
.ipynb_checkpoints
checkpoint
logs/*
tf_logs/*
images/**/*.png
images/**/*.dot
my_*
person.proto
person.desc
person_pb2.py
datasets/flowers
datasets/lifesat/lifesat.csv
datasets/spam
datasets/titanic
datasets/words
datasets/jsb_chorales

